.DS_Store
.docs/
# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
# i need to remove Project_overview.pdf

Project_overview.pdf
run_colab.ipynb
# generated data/models
models/
*.pkl
scr/data/
scr/data_analysis.ipynb
