.DS_Store
.docs/
# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
# Local reports and notebooks
Project_overview.pdf
projectTexVersion.tex
run_colab.ipynb

# generated data/models
models/
*.pkl
scr/data/
scr/data_analysis.ipynb
scr/transformer_model_demo_fast.py
projectReport.tex
project_overview.txt
